<p class="text-small text-grey-dk-100 mb-0">
<span class="d-inline-block">Thời gian cập nhật lần cuối: {{ page.last_modified_date | date: site.last_edit_time_format }}<br>
Phiên bản {{ page.last_modified_at | date: "%Y%m%d.%H%M%S%z" }}</span>
</p><p class="text-small mb-0"><b>(c) Copyright 2023-2024 GamingWithEvets Inc. - <a href="https://gamingwithevets.github.io">gamingwithevets.github.io</a><br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" /></a>
</p>
